[Unit]
Description=Starter FORMmedia stream.

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/formmedia/radio.sh
User=pi

[Install]
WantedBy=multi-user.target
